* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(134, 115, 89);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    background: rgb(0,0,0,.8);
    border-radius: 30px;
    height: 700px;
    width: 380px;
    padding: 5px;
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, .4);
}

.control-btn, .control-btn::after {
    position: absolute;
    height: 100px;
    width: 2px;
    background: #000;
    right: -2px;
    top: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.control-btn::after {
    content: "";
    height: 50px;
    top: 130px;
    right: 0;
}

.overlay-screen {
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 30px;
    padding: 0px 10px;
    /* box-shadow: ; */
}

.layer {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.layer span {
    height: 10px;
    width: 100px;
    background: rgb(34, 35, 36);
    border-radius: 5px;
    display: inline-block;
}

.upper-layer span::before, .upper-layer span::after {
    content: "";
    position: absolute;
    top: 50%;
    transform-origin: top;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: rgb(34, 35, 36);
}

.upper-layer span::before {
    left: 50px;
}

.upper-layer span::after {
    right: 50px;
}

.screen {
    background: rgb(255, 255, 255);
    height: calc( 100% - 100px );
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}

.navigator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    padding: 0 20px;
    background: rgb(0,0,0,.95);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

span {
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.remove-tabs {
    height: 5px;
    width: 5px;
    position: absolute;
    left: 5px;
    padding: 0 10px;
}

.box-remove-tabs {
    height: 100%;
    width: 100%;
    position: relative;
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    background: #fff;
}

.box-remove-tabs::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 1px;
    left: 1px;
    right: 1px;
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    background: rgb(0,0,0,.95);
}

.tabs {
    width: 100%;
    height: 100%;
    align-items: center;
}

.box-tab {
    height: 15px;
    width: 15px;
    border: 1px solid #fff;
}

.box-home {
    width: 15px;
    height: 15px;
    clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    background: #fff;
    position: relative;
}

.box-home::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    background: rgb(0,0,0,.95);
}

.home {
    width: 100%;
    height: 100%;
}

.back {
    width: 100%;
}

.box-back {
    height: 15px;
    width: 15px;
    background: #fff;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    position: relative;
}

.box-back::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    background: rgb(0,0,0,.95);
}

.screen .app-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.screen .app-container .header{
    background: #128c7e;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .3);
    /* height: 100px; */
}

.screen .app-container .header .top-nav {
    height: 20px;
    background: rgba(0, 0, 0, .2);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    padding-top: 2px;
}

.top-nav i {
    padding: 0 2px;
}

.top-nav .charge {
    position: relative;
    width: 20px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    /* margin: 0 2px; */
    margin-right: 2px;
}

.charge::before, .charge::after {
    content: "";
    position: absolute;
}

.charge::before {
    right: 0;
    top: 0;
    height: 100%;
    width: 49%;
    background: #fff;
}

.charge::after {
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 1px;
    background: #fff;
}

.percent {
    margin-right: 2px;
}

.sim-network {
    height: 10px;
    width: 15px;
    margin-right: 4px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
}

.sim-network span {
    width: 2px;
    border-radius: 1px;
    height: 100%;
    background: #fff;
}

.sim-network span:nth-child(1) {
    height: 30%;
}

.sim-network span:nth-child(2) {
    height: 50%;
}

.sim-network span:nth-child(3) {
    height: 75%;
}

.screen .app-container .header header {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screen .app-container .header header h1 {
    font-size: 1.3rem;
    color: #fff;
    display: inline-block;
}

.search {
    color: #fff;
    font-weight: lighter;
    /* font-size: 13px; */
}

/* .search-icon::after {
    content: "";
    position: absolute;
    background: #fff;
    height: 2px;
    width: 10px;
    bottom: -35%;
    right: -35%;
    transform: rotateZ(45deg);
    border-radius: 1px;
} */

.three-dots {
    height: 100%;
    display: flex;
    align-items: center;
}

.three-dots span {
    position: relative;
}

.three-dots span, .three-dots span::after, .three-dots span::before {
    height: 4px;
    width: 4px;
    background: #fff;
    border-radius: 50%;
}

.three-dots span::after, .three-dots span::before {
    content: "";
    position: absolute;
}

.three-dots span::after {
    top: -6px;
}

.three-dots span::before {
    bottom: -6px;
}

.header nav {
    padding-top: 0 15px;
}

.header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.camera {
    flex: 2;
    padding: 0 10px;
}

.camera a i {
    font-size: 18px;
}

.header nav ul li {
    height: 30px;
    width: 100%;
}

.header nav ul li a {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    opacity: .5;
    font-size: 12px;
    font-weight: 700;
    display: block;
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.header nav ul li:hover {
    opacity: .9;
}

.header nav ul li a.active {
    opacity: 1;
}

.header nav ul li a.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    height: 3px;
    width: 100%;
}

.header nav ul li a span {
    height: 5px;
    width: 5px;
    margin-left: 7px;
    background: #fff;
    border-radius: 50%;
}

.btn-absolute {
    position: absolute;
    bottom: 45px;
    right: 20px;
    background: green;
    /* padding: 20px; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 10px 30px rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}

/* .btn-absolute i {
    font-weight: bold;
} */

.btn-absolute .message-icon {
    position: relative;
    background: #fff;
    height: 14px;
    width: 14px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
}

.btn-absolute .message-icon::before {
    content: "";
    position: absolute;
    right: -3px;
    top: 0;
    height: 7px;
    width: 3px;
    background: #fff;
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

.btn-absolute .message-icon span {
    position: relative;
    height: 1px;
    width: 70%;
    background: green;
    margin: 1px 0;
}

.btn-absolute .message-icon span:nth-child(2) {
    width: 60%;
}

.chats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    overflow: auto !important;
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.dp {
    margin: 10px;
    margin-left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
}

.chat-details {
    width: calc( 100% - 70px );
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    /* align-items: center; */
    position: relative;
    padding: 15px 0;
}

.chat-details .div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
}

.chat-name {
    font-weight: 700;
    font-size: 15px;
}

small.time {
    font-size: 11px;
}

.message {
    font-size: 14px;
}

.chat:last-child .chat-details {
    border-bottom: none;
}

.receive-status i {
    opacity: .5;
    margin-right: 5px;
}

.typing {
    color: rgb(15, 236, 15);
}

.unread {
    height: 18px;
    width: 18px;
    font-size: 11px;
    border-radius: 9px;
    background: rgb(12, 216, 12);
    color: #fff;
}

.unread-time {
    color: rgb(12, 216, 12);
}

.received {
    display: inline-flex;
    flex-direction: column;
    margin-top: -7px;
}

.received i {
    color: #128C7E;
    margin-bottom: -7px;
}

.received i:nth-child(2) {
    margin-left: 4px;
    margin-top: -2px;
}